body{
font-family: 'Pacifico', cursive;
background: blueviolet;
}
.header_div{
background: azure;
color: darkslategrey;
}
.header_div p{
font-family: 'Pacifico', sans-serif;
color: dimgrey;
letter-spacing: 1px;
font-size: 15px;
font-weight: bold;
}
.main_div button{
font-family: 'Pacifico', sans-serif;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer{
position: fixed;
color: #6c757d;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: aquamarine;
line-height: 3;
text-align:center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}